DATABASE_URL=postgres://user:password@localhost:5432/swasthya_setu
R2_ACCESS_ID=your_cloudflare_access_key_id
R2_ACCESS_KEY=your_cloudflare_secret_access_key
R2_BUCKET_NAME=swasthya-setu
R2_URL=https://<account_id>.r2.cloudflarestorage.com
